# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.[oda]
*.obj
*.out

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
programm
*.exe
*.dat
.idea/
*.app
/cmake-build-debug/*
